@media screen and (min-width:35.5em)
{
.u-sm-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-sm-1-24 {
	width: 4.16%;
}
.u-sm-1-12 {
	width: 8.33%;
}
.u-sm-2-24 {
	width: 8.33%;
}
.u-sm-1-8 {
	width: 12.5%;
}
.u-sm-3-24 {
	width: 12.5%;
}
.u-sm-1-6 {
	width: 16.66%;
}
.u-sm-4-24 {
	width: 16.66%;
}
.u-sm-1-5 {
	width: 20%;
}
.u-sm-5-24 {
	width: 20.83%;
}
.u-sm-1-4 {
	width: 25%;
}
.u-sm-6-24 {
	width: 25%;
}
.u-sm-7-24 {
	width: 29.16%;
}
.u-sm-1-3 {
	width: 33.33%;
}
.u-sm-8-24 {
	width: 33.33%;
}
.u-sm-3-8 {
	width: 37.5%;
}
.u-sm-9-24 {
	width: 37.5%;
}
.u-sm-2-5 {
	width: 40%;
}
.u-sm-5-12 {
	width: 41.66%;
}
.u-sm-10-24 {
	width: 41.66%;
}
.u-sm-11-24 {
	width: 45.83%;
}
.u-sm-1-2 {
	width: 50%;
}
.u-sm-12-24 {
	width: 50%;
}
.u-sm-13-24 {
	width: 54.16%;
}
.u-sm-7-12 {
	width: 58.33%;
}
.u-sm-14-24 {
	width: 58.33%;
}
.u-sm-3-5 {
	width: 60%;
}
.u-sm-5-8 {
	width: 62.5%;
}
.u-sm-15-24 {
	width: 62.5%;
}
.u-sm-2-3 {
	width: 66.66%;
}
.u-sm-16-24 {
	width: 66.66%;
}
.u-sm-17-24 {
	width: 70.83%;
}
.u-sm-3-4 {
	width: 75%;
}
.u-sm-18-24 {
	width: 75%;
}
.u-sm-19-24 {
	width: 79.16%;
}
.u-sm-4-5 {
	width: 80%;
}
.u-sm-5-6 {
	width: 83.33%;
}
.u-sm-20-24 {
	width: 83.33%;
}
.u-sm-7-8 {
	width: 87.5%;
}
.u-sm-21-24 {
	width: 87.5%;
}
.u-sm-11-12 {
	width: 91.66%;
}
.u-sm-22-24 {
	width: 91.66%;
}
.u-sm-23-24 {
	width: 95.83%;
}
.u-sm-1 {
	width: 100%;
}
.u-sm-1-1 {
	width: 100%;
}
.u-sm-5-5 {
	width: 100%;
}
.u-sm-24-24 {
	width: 100%;
}
}
@media screen and (min-width:48em)
{
.u-md-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-md-1-24 {
	width: 4.16%;
}
.u-md-1-12 {
	width: 8.33%;
}
.u-md-2-24 {
	width: 8.33%;
}
.u-md-1-8 {
	width: 12.5%;
}
.u-md-3-24 {
	width: 12.5%;
}
.u-md-1-6 {
	width: 16.66%;
}
.u-md-4-24 {
	width: 16.66%;
}
.u-md-1-5 {
	width: 20%;
}
.u-md-5-24 {
	width: 20.83%;
}
.u-md-1-4 {
	width: 25%;
}
.u-md-6-24 {
	width: 25%;
}
.u-md-7-24 {
	width: 29.16%;
}
.u-md-1-3 {
	width: 33.33%;
}
.u-md-8-24 {
	width: 33.33%;
}
.u-md-3-8 {
	width: 37.5%;
}
.u-md-9-24 {
	width: 37.5%;
}
.u-md-2-5 {
	width: 40%;
}
.u-md-5-12 {
	width: 41.66%;
}
.u-md-10-24 {
	width: 41.66%;
}
.u-md-11-24 {
	width: 45.83%;
}
.u-md-1-2 {
	width: 50%;
}
.u-md-12-24 {
	width: 50%;
}
.u-md-13-24 {
	width: 54.16%;
}
.u-md-7-12 {
	width: 58.33%;
}
.u-md-14-24 {
	width: 58.33%;
}
.u-md-3-5 {
	width: 60%;
}
.u-md-5-8 {
	width: 62.5%;
}
.u-md-15-24 {
	width: 62.5%;
}
.u-md-2-3 {
	width: 66.66%;
}
.u-md-16-24 {
	width: 66.66%;
}
.u-md-17-24 {
	width: 70.83%;
}
.u-md-3-4 {
	width: 75%;
}
.u-md-18-24 {
	width: 75%;
}
.u-md-19-24 {
	width: 79.16%;
}
.u-md-4-5 {
	width: 80%;
}
.u-md-5-6 {
	width: 83.33%;
}
.u-md-20-24 {
	width: 83.33%;
}
.u-md-7-8 {
	width: 87.5%;
}
.u-md-21-24 {
	width: 87.5%;
}
.u-md-11-12 {
	width: 91.66%;
}
.u-md-22-24 {
	width: 91.66%;
}
.u-md-23-24 {
	width: 95.83%;
}
.u-md-1 {
	width: 100%;
}
.u-md-1-1 {
	width: 100%;
}
.u-md-5-5 {
	width: 100%;
}
.u-md-24-24 {
	width: 100%;
}
}
@media screen and (min-width:58em)
{
.u-lg-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-lg-1-24 {
	width: 4.16%;
}
.u-lg-1-12 {
	width: 8.33%;
}
.u-lg-2-24 {
	width: 8.33%;
}
.u-lg-1-8 {
	width: 12.5%;
}
.u-lg-3-24 {
	width: 12.5%;
}
.u-lg-1-6 {
	width: 16.66%;
}
.u-lg-4-24 {
	width: 16.66%;
}
.u-lg-1-5 {
	width: 20%;
}
.u-lg-5-24 {
	width: 20.83%;
}
.u-lg-1-4 {
	width: 25%;
}
.u-lg-6-24 {
	width: 25%;
}
.u-lg-7-24 {
	width: 29.16%;
}
.u-lg-1-3 {
	width: 33.33%;
}
.u-lg-8-24 {
	width: 33.33%;
}
.u-lg-3-8 {
	width: 37.5%;
}
.u-lg-9-24 {
	width: 37.5%;
}
.u-lg-2-5 {
	width: 40%;
}
.u-lg-5-12 {
	width: 41.66%;
}
.u-lg-10-24 {
	width: 41.66%;
}
.u-lg-11-24 {
	width: 45.83%;
}
.u-lg-1-2 {
	width: 50%;
}
.u-lg-12-24 {
	width: 50%;
}
.u-lg-13-24 {
	width: 54.16%;
}
.u-lg-7-12 {
	width: 58.33%;
}
.u-lg-14-24 {
	width: 58.33%;
}
.u-lg-3-5 {
	width: 60%;
}
.u-lg-5-8 {
	width: 62.5%;
}
.u-lg-15-24 {
	width: 62.5%;
}
.u-lg-2-3 {
	width: 66.66%;
}
.u-lg-16-24 {
	width: 66.66%;
}
.u-lg-17-24 {
	width: 70.83%;
}
.u-lg-3-4 {
	width: 75%;
}
.u-lg-18-24 {
	width: 75%;
}
.u-lg-19-24 {
	width: 79.16%;
}
.u-lg-4-5 {
	width: 80%;
}
.u-lg-5-6 {
	width: 83.33%;
}
.u-lg-20-24 {
	width: 83.33%;
}
.u-lg-7-8 {
	width: 87.5%;
}
.u-lg-21-24 {
	width: 87.5%;
}
.u-lg-11-12 {
	width: 91.66%;
}
.u-lg-22-24 {
	width: 91.66%;
}
.u-lg-23-24 {
	width: 95.83%;
}
.u-lg-1 {
	width: 100%;
}
.u-lg-1-1 {
	width: 100%;
}
.u-lg-5-5 {
	width: 100%;
}
.u-lg-24-24 {
	width: 100%;
}
}
@media screen and (min-width:75em)
{
.u-xl-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.u-xl-1-24 {
	width: 4.16%;
}
.u-xl-1-12 {
	width: 8.33%;
}
.u-xl-2-24 {
	width: 8.33%;
}
.u-xl-1-8 {
	width: 12.5%;
}
.u-xl-3-24 {
	width: 12.5%;
}
.u-xl-1-6 {
	width: 16.66%;
}
.u-xl-4-24 {
	width: 16.66%;
}
.u-xl-1-5 {
	width: 20%;
}
.u-xl-5-24 {
	width: 20.83%;
}
.u-xl-1-4 {
	width: 25%;
}
.u-xl-6-24 {
	width: 25%;
}
.u-xl-7-24 {
	width: 29.16%;
}
.u-xl-1-3 {
	width: 33.33%;
}
.u-xl-8-24 {
	width: 33.33%;
}
.u-xl-3-8 {
	width: 37.5%;
}
.u-xl-9-24 {
	width: 37.5%;
}
.u-xl-2-5 {
	width: 40%;
}
.u-xl-5-12 {
	width: 41.66%;
}
.u-xl-10-24 {
	width: 41.66%;
}
.u-xl-11-24 {
	width: 45.83%;
}
.u-xl-1-2 {
	width: 50%;
}
.u-xl-12-24 {
	width: 50%;
}
.u-xl-13-24 {
	width: 54.16%;
}
.u-xl-7-12 {
	width: 58.33%;
}
.u-xl-14-24 {
	width: 58.33%;
}
.u-xl-3-5 {
	width: 60%;
}
.u-xl-5-8 {
	width: 62.5%;
}
.u-xl-15-24 {
	width: 62.5%;
}
.u-xl-2-3 {
	width: 66.66%;
}
.u-xl-16-24 {
	width: 66.66%;
}
.u-xl-17-24 {
	width: 70.83%;
}
.u-xl-3-4 {
	width: 75%;
}
.u-xl-18-24 {
	width: 75%;
}
.u-xl-19-24 {
	width: 79.16%;
}
.u-xl-4-5 {
	width: 80%;
}
.u-xl-5-6 {
	width: 83.33%;
}
.u-xl-20-24 {
	width: 83.33%;
}
.u-xl-7-8 {
	width: 87.5%;
}
.u-xl-21-24 {
	width: 87.5%;
}
.u-xl-11-12 {
	width: 91.66%;
}
.u-xl-22-24 {
	width: 91.66%;
}
.u-xl-23-24 {
	width: 95.83%;
}
.u-xl-1 {
	width: 100%;
}
.u-xl-1-1 {
	width: 100%;
}
.u-xl-5-5 {
	width: 100%;
}
.u-xl-24-24 {
	width: 100%;
}
}
* {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
*::before {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
*::after {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}


.header-layout {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 1em; text-align: center; letter-spacing: 0.05em; font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.header-layout h1 {
	margin: 0px; font-size: 300%; font-weight: 100;
}
.header-layout h2 {
	margin: 0px; color: rgb(102, 102, 102); line-height: 1.5; letter-spacing: -0.02em; font-size: 125%; font-weight: 100;
}
.content {
	padding-right: 1em; padding-left: 1em; margin-right: auto; margin-left: auto; max-width: 768px;
}

#layout {
	padding-left: 0px; position: relative; text-align: center;
}
.active#layout {
	left: 160px; position: relative;
}
.active#layout #menu {
	left: 160px; width: 160px;
}
#menu {
	background: rgb(25, 24, 24); left: 0px; top: 0px; width: 160px; bottom: 0px; margin-left: -160px; position: fixed; z-index: 1000; -ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
#menu a {
	padding: 0.62em 1em; border: currentColor; color: rgb(153, 153, 153); white-space: normal;
}
#menu .pure-menu-open {
	border: 0px currentColor;
}
#menu .pure-menu ul {
	border: currentColor;
}
#menu .pure-menu ul {
	border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid;
}
#menu .pure-menu .menu-item-divided {
	border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid;
}
#menu .pure-menu li a:hover {
	background: rgb(51, 51, 51);
}
#menu .pure-menu li a:focus {
	background: rgb(51, 51, 51);
}
.menu-link {
	background: rgba(0, 0, 0, 0.7); padding: 1em; left: 0px; top: 0px; width: 4em; height: 4em; font-size: 11px; display: block; position: fixed; z-index: 10;
}
.menu-link:hover {
	background: rgb(0, 0, 0);
}
.menu-link:focus {
	background: rgb(0, 0, 0);
}
.menu-link span {
	margin-top: 0.9em; display: block; position: relative;
}
.menu-link span {
	transition:0.4s; width: 100%; height: 0.2em; background-color: rgb(255, 255, 255); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s;
}
.menu-link span::before {
	transition:0.4s; width: 100%; height: 0.2em; background-color: rgb(255, 255, 255); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s;
}
.menu-link span::after {
	transition:0.4s; width: 100%; height: 0.2em; background-color: rgb(255, 255, 255); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s;
}
.menu-link span::before {
	top: -0.55em; position: absolute; content: " ";
}
.menu-link span::after {
	top: -0.55em; position: absolute; content: " ";
}
.menu-link span::after {
	top: 0.55em;
}
.active.menu-link span {
	
}
.active.menu-link span::before {
	transform: rotate(45deg) translate(0.5em, 0.4em); -webkit-transform: rotate(45deg) translate(.5em, .4em); -moz-transform: rotate(45deg) translate(.5em, .4em); -o-transform: rotate(45deg) translate(.5em, .4em);
}
.active.menu-link span::after {
	transform: rotate(-45deg) translate(0.4em, -0.3em); -webkit-transform: rotate(-45deg) translate(.4em, -.3em); -moz-transform: rotate(-45deg) translate(.4em, -.3em); -o-transform: rotate(-45deg) translate(.4em, -.3em);
}
#menu .pure-menu-heading {
	padding: 0.5em 0.8em; color: rgb(255, 255, 255); letter-spacing: 0.1em; font-size: 125%; font-weight: 300; margin-top: 0px;
}
#menu .pure-menu-heading:hover {
	color: rgb(153, 153, 153);
}
#menu .pure-menu-heading:focus {
	color: rgb(153, 153, 153);
}
#menu .pure-menu-selected {
	background: rgb(31, 141, 214);
}
#menu .pure-menu-selected a {
	color: rgb(255, 255, 255);
}
#menu li.pure-menu-selected a:hover {
	
}
#menu li.pure-menu-selected a:focus {
	
}



#main {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#menu {
	text-align: right;
}

.bordered {
	border: 2px solid black;
}
