
.myCard {
	width: 100% !important;
	text-align: left;
	display: inline;
}

.ui.info.message {
	max-width: 648px;
	margin-left: auto;
	margin-right: auto;

}

.ui.menu {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;

}

.rotated-container {
display: inline-block;
overflow: hidden;

width: 1.5em;
line-height: 1.5;
}

.rot90deg {
	display: inline-block;
	white-space: nowrap;
	
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(-90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-90deg);
    /* Opera */
    -o-transform:rotate(-90deg);
    /* IE9 */
    -ms-transform:rotate(-90deg);
	
}

.rotm90deg:after {
	content: "";
	float: left;
	margin-top: 100%;
}

.back-white {
	background-color: white !important;
}

.article-title {
	text-align: left;
	float: left;
	font-size: 130%;
}

.divider-article {
	top: 0px;
}

.myTags {
	margin-left: 0px !important;
	text-align: left;

}

.searchImage {
	height: 2em !important;
	width: 2em !important;
}

@media screen and (min-width:35.5em)
{

#myMenu {
	top: 0px;
}

}
