
.myCard {
	width: 100% !important;
	text-align: left;
	display: inline;
}

.ui.info.message {
	max-width: 648px;
	margin-left: auto;
	margin-right: auto;

}

.article-title {
	text-align: left;
	float: left;
	font-size: 200%;
}

.divider-article {
	top: 0px;
}
