/*
	Colour palette
	http://www.colourlovers.com/palette/146504/Sugarcookies_Snow
	
	#85B394
	#A7BA59
	#F0F0D8
	#F0D890
	#AE2F27
*/

@font-face {
	font-family: PWHappyChristmas;
	src: url('./PWHappyChristmas.woff');
}

@font-face {
	font-family: PWChristmasCandies;
	src: url('./PWChristmasCandies.woff');
}

@font-face {
	font-family: XmasLight;
	src: url('./XmasLight.woff');
}

body {
	background-color: #85B394;
	margin: 0;
	overflow-x: hidden;
}

#header {
	text-align: center;
	font-size: 5.5vw;
	height: 20%;
	width: 100%;
	padding: 10pt;

	font-family: PWChristmasCandies;
	font-weight: bold;
	color: #F0F0D8;
	background-color: #AE2F27;
	box-shadow: 0 0 4px 3px #85B394,
		  inset 0 -10px 0 0 #7E1811,
		  inset 0 10px 0 0 #7E1811;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity linear .2s;
	z-index: 10;
}

#overlay-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	
	transition: opacity linear .2s;
	z-index: 100;
}

.calendar {
	height: 60%;
	font-size: 0;
}

.calendar > * {
	display: inline-block;
}

.calendar-day {
	width: 18%;
	padding-bottom: 18%;
	overflow: hidden;
	
	text-align: center;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 1%;
	position: relative;
	background-color: #F0D890;
	
	box-shadow: 4px 4px 3px 0 rgba(0,0,0,0.15);
}

.calendar-day img {
	position: absolute;
	max-width: 200%;
	max-height: 200%;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	transition: opacity linear .8s;
	opacity: 0;
}

.calendar-day .inset-shadow {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	transform: none !important;
	opacity: 1 !important;
	border-radius: 8px;
	box-shadow: inset -2px -2px 2px 2px rgba(0,0,0,0.5);
}

.calendar-day.opened img {
	opacity: 1;
}

.calendar-day > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}

.calendar-day > * > * {
	position: relative;
	top: 50%;
	
	transform: perspective(1px) translateY(-50%) rotate(0deg) scale(1, 1);
	
	font-size: 12vw;
	display: inline-block;
	z-index: 2;
	
	transition: top linear .4s,
				font-size linear .4s,
				transform linear .4s,
				opacity linear .4s;
	
	font-family: PWChristmasCandies;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	color: #FFF;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.calendar-day.animation-0 > * > *,
.calendar-day.animation-slide-top > * > * {
	top: -50%;
}

.calendar-day.animation-1 > * > *,
.calendar-day.animation-scale-out > * > * {
	transition: font-size cubic-bezier(.52,-1.14,.74,.05) .4s !important;
	font-size: 0;
}

.calendar-day.animation-2 > * > *,
.calendar-day.animation-rotate-scale-out > * > * {
	font-size: 0;
	transform: perspective(1px) translateY(-50%) rotate(360deg) scale(1, 1);
}

.calendar-day.animation-3 > * > *,
.calendar-day.animation-fade-out > * > * {
	opacity: 0;
}

.calendar-day.animation-4 > * > *,
.calendar-day.animation-stretch-out > * > * {
	transform: perspective(1px) translateY(-50%) rotate(0deg) scale(0.4, 5);
	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 80%;
	max-height: 90%;
	
	transform: translateY(-50%);
	
	overflow: hidden;
	color: rgba(0,0,0,0.7);
	border-radius: 8px;
	background-color: #F0D890;
	box-shadow: 8px 8px 5px 0 rgba(0,0,0,0.15);
}

.modal .inset-shadow {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	transform: none !important;
	opacity: 1 !important;
	border-radius: 8px;
	box-shadow: inset -2px -2px 2px 2px rgba(0,0,0,0.5);
}

.modal > * {
	position: relative;
}

.modal-content {
	
}

.modal-header {
	display: inline-flex;
}

.modal .date {
	display: inline;
	font-size: 92pt;
}

.modal .title-container {
	display: inline;
}

.modal .title {
	font-family: Impact, Charcoal, sans-serif;
	padding: 0 5%;
	margin-top: 10px;
	text-align: center;
	font-size: 25pt;
	vertical-align: middle;
}

.modal img {
	margin-left: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 80%;
	max-height: 64vh;
	transform: translateX(-50%);
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.4);
}

.modal .comment {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 0 5%;
	margin-bottom: 20px;
	font-size: 20pt;
}
